<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Wikipedia Web Tests Suite" parallel="false" verbose="1">

    <test name="Web Automation Tests - Wikipedia" group-by-instances="true">
        <groups>
            <run>
                <include name="web"/>
            </run>
        </groups>
        <classes>
            <class name="dev.molkov.test.tests.web.WikipediaWebTests"></class>
        </classes>
    </test>

</suite>
